<!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ clientName }}'s Policies</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div *ngIf="clientPolicies.length === 0">
          No Policies.
      </div>
      <table *ngIf="clientPolicies.length > 0" class="policy-table table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Inception Date</th>
            <th>Amount Insured</th>
            <th>Installment Payment</th>
          </tr>
        </thead>
        <tr *ngFor="let policy of clientPolicies">
          <td>{{ policy.inceptionDate }}</td>
          <td>{{ policy.amountInsured }}</td>
          <td>{{ policy.installmentPayment }}</td>
        </tr>
      </table>
  </div>
</ng-template>

<div class="loading-data" *ngIf="loaded === false">
  Loading Data
</div>
<table *ngIf="loaded === true" class="client-table table">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let header of headers">
        {{ header | titlecase }}
      </th>
      <th>Policy</th>
    </tr>
  </thead>
  <tr *ngIf="clients.length === 0">
    <td colspan="5">
      No Clients.
    </td>
  </tr>
  <tr *ngFor="let client of clients">
    <td>
      {{ client.id }}
    </td>
    <td>
      {{ client.name }}
    </td>
    <td>
      {{ client.email }}
    </td>
    <td>
      {{ client.role }}
    </td>
    <td>
      <button class="btn-view btn-hover-effect btn-hover-effect--effect-1"  (click)="openModal(template, client.id, client.name)">View</button>
    </td>
  </tr>
</table>
