
$icon-block-width: 40px;

$btn-hover-effect-padding-vert: 22px;
$btn-hover-effect-padding-horz: 36px;
$btn-bg-1: #880044;

@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
    transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

.btn-hover-effect {
    display: flex;
    font: {
        family: Arial;
        size: 17px;
    }
    color: #fff;
    letter-spacing: 1px;
    line-height: 1;
    background-color: $btn-bg-1;
}

.btn-hover-effect {
    @include transition-mix();
    position: relative;
    display: flex;
    align-items: center;
    padding: $btn-hover-effect-padding-vert $btn-hover-effect-padding-horz;
    transform: translateZ(0);
    text-decoration: none;
    overflow: hidden;
}

.client-table {
    margin: 10px;

    td {
        vertical-align: middle;
    }

    .btn-view {
        /* overlay block styles */
        border: none;
        
        &:before {
            @include position-absolute($top: 0, $left: 0);
            @include transition-mix($property: transform);
            display: block;
            width: 100%;
            height: 100%;
            content: '';
            background-color: rgba(255,255,255, .2);
            transform: scale(0, 1);
            transform-origin: right top;
            z-index: -1;
        }
        
        &:hover {
            padding-left: $btn-hover-effect-padding-horz - 10;
            padding-right: $btn-hover-effect-padding-horz + 10;

            &:before {
                transform: scale(1, 1);
                transform-origin: left top;
            }
            
            &:after {
                right: 0;
                opacity: 1;
            }
        }
    }
}